body {
  /* background-image: url('https://blog.ayeez.cn/imgs/bg/p7.jpg'); 替换为你自己的图片路径 */
  background-color: rgb(18, 18, 18);
  background-size: cover; /* 让背景图覆盖整个页面 */
  background-position: center; /* 让背景图居中显示 */
  background-repeat: no-repeat; /* 防止背景图重复 */
  background-attachment: fixed; /* 让背景图固定，不随滚动条移动 */
}