body {
  background-image: url('https://qiniu.ayeez.cn/20260220211049919.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-y: scroll; /* 强制显示垂直滚动条 */
  color:white;
}

/* 自定义滚动条样式 */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #000000;
  /* border-radius: 10px; */
}

::-webkit-scrollbar-thumb {
  background: #1e211e;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #646464;
}